.section{
	float: left;
	width: 50%;
	margin-top: 10%;
}
.section:nth-child(2) {
	border-left: 1px solid #ccc;
	padding: 40px 0px 80px 0px;
}
.loginWrapper {
    margin-left: 25%;
    margin-top: 20px;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 50px;
}
.navbar {
	margin-bottom: 0px;
}
.pagination-wrapper {
	padding: 10px 0px;
	font-weight: bold;
}
.pagination {
	text-align: center;
}
.loginBrand {
	text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.navbar a {
	color: white!important;
}
.logo {
	display: block;
	margin: 10% auto;
}
.candidateForm div {
	margin-bottom: 10px;
}
#overallExperienceTo, #relevantExperienceTo, #salaryTo {
	margin-top: 5px;
}
.actionRow {
	margin-top: 5px;
}
table {
	font-size: 13px;
}
table tr {
	border-bottom: 1px solid #ddd;
}
table td, th {
	padding: 4px;
}
.checkboxScroll {
	max-height: 250px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 5px 10px;
    
}
.checkboxScroll ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.vservice-ul {
	padding-left: 20px!important;
	display: none;
}
.navbar-brand > img {
  	display: block;
  	width: 100px;
  	margin-top: -15px;
}
.container-fluid:nth-child(2) {
	padding-top: 20px;
}
.candidateFormBg {
	background-color: #b3e8f7;
}
.highlight {
	font-size: 50px;
	font-weight: bold;
	color: #00008b;
}
.highlight_wrapper {
	color: #00008b;
	font-size: 20px;
    text-align: center;
}
.highlight_wrapper .row {
	margin-bottom: 40px;
}
.stats {
	font-size: 40px;
	font-weight: bold;
	color: #00008b;
	text-align: center;
}
@media only screen and (max-width: 768px) {
	.section:nth-child(1) {
		display: none;
	}
	.section {
		width: 100%;
	}
	.loginWrapper {
		margin-left: 0%;
	}
}